/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require bootstrap-material-design
 *= require social-share-button
 */
[class^="result_popularity"],
[class*=" result_popularity"] {
    display: inline-block;
}

[class^="result_border_start"],
[class*=" result_border_start"] {
    display: inline-block;
}

[class^="result_border_end"],
[class*=" result_border_end"] {
    display: inline-block;
}

.pricing-table {
    display: inline-block;
}

.pricing-table ul {
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-radius: 3px;
    margin: 3px;
    width: 185px;
    text-align: center;
    font-family: 'Arial';
    list-style: none;
    float: left;
    padding: 5px;
    background-color: #FFFFFF;
}

.pricing-table ul:hover {
    transform: scale(1.1);
    box-shadow: 3px 5px 7px rgba(0, 0, 0, .7);
}

.pricing-table ul li {
    padding: 5px;
    background-color: #EFEFEF;
    border-width: 2px;
    border-color: #B83737;
    border-radius: 0px;
    border-bottom-width: 2px;
    font-size: 14px;
}

.pricing-table li:nth-child(odd) {
    background-color: #F7F7F7;
}

.pricing-table ul .heading {
    color: #FFFFFF;
    background-color: #536b39;
    font-size: 17px;
}

.pricing-table ul .price {
    font-size: 25px;
}

.pricing-table ul .action {
    font-size: 14px;
    color: #2A6496;
}

.pricing-table .action a {
    border-color: #B83737;
    border-width: 0px;
    border-radius: 26px;
    background-color: #536b39;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    color: #FFFFFF;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.explain-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;;
    background-color: #4285f4;
    color: #fff;
    margin-bottom: 20px;
}

.explain-text {
    margin: 15px;
    font-size: 16px;
}

.for-sp {
    display: none;
}

@media all and (max-width: 500px) {
    .for-pc {
        display: none;
    }
}

@media all and (max-width: 720px) {
    .navbar .navbar-brand {
        height: 30px !important;
        padding: 8px 7px !important;
        font-size: 15px;;
    }
}

@media all and (max-width: 720px) {
    .navbar .navbar-nav > li > a {
        padding-top: 4px !important;
        padding-bottom: 10px !important;
        font-size: 12px !important;
    }
}

.error-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.error-box p {
    text-align: center;
}