// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class^="result_popularity"],
[class*=" result_popularity"] {
  display: inline-block;
}
[class^="result_border_start"],
[class*=" result_border_start"] {
  display: inline-block;
}
[class^="result_border_end"],
[class*=" result_border_end"] {
  display: inline-block;
}
