  // Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class*="_border_start"] {
  display: inline-block;
}
[class*="_border_end"] {
  display: inline-block;
}
.home-container {
  width: 100%;
  height: 350px;
  color: #fff;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-image {
  width: auto;
  height: auto;
}
.home-description h3{
  color: #333333;
}
