// Place all the styles related to the try controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.odds-label {
         width: 100px;
       display: inline-block;
  margin-right: 10px;
}
.place {
  select{
    width: 100%;
    padding: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: white;
    background-size: 20px, 100%;
  }
}
.btn{
  &.btn-danger{
    padding: 2px;
  }
}
